@using Microsoft.VisualBasic;
@using System.Net.Http;

<form method="post" >
    <input name="__RequestVerificationToken" id="Email" asp-fragment="email" value="">
    <button type='submit' onclick=getUsers()>Validate</button>    
</form>

