@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rocket Elevators Home Page</h1>
    <a asp-action="index" asp-controller="customer">Customer Page</a>
    <a asp-action="profile" asp-controller="customer">Customer Profile</a>
</div>
