@{
    ViewData["Title"] = "Intervention Form";
}

<div class="text-center">
    <h1 class="display-4">Intervention Form</h1>
    <a asp-action="index" asp-controller="home">Home</a> <br>
    <a asp-action="profile" asp-controller="customer">Customer Profile</a>
</div>