@{
    ViewData["Title"] = "Intervention Form";
}

<div class="text-center">
    <h1 class="display-4">Customer Profile</h1>
    <a asp-action="index" asp-controller="home">Home</a> <br>
    <a asp-action="index" asp-controller="customer">Intervention Form</a>
</div>